.tab-languaje {
  background-color: var(--Light-Grayish-Cyan-Filter-Table);
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius);
  margin: 0rem 1rem 1rem 0rem;
  cursor: pointer;
  &--wraper-text {
    padding: 0.7rem;
  }
}

.tab-languaje:hover {
  background-color: var(--Dark-Cyan);
  .h2 {
    @extend .h2;
    color: var(--Light-Grayish-Cyan-Filter-Table);
  }
}

@media screen and (min-width: 769px) {
  .tab-languaje {
    margin: 0rem 1rem 0rem 0rem;
  }
}
