@import url("https://fonts.googleapis.com/css?family=Spartan:500,700&display=swap");

:root {
  --Dark-Cyan: hsl(180, 29%, 50%);
  --Light-Grayish-Cya-Bg: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan-Filter-Table: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  --border-radius: 5px;
}

* {
  padding: 0px;
  margin: 0px;
}

html {
  min-height: 100%;
  body {
    min-height: 100%;
    div#root {
      min-height: 100%;
    }
  }
}

@mixin h2 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--Dark-Cyan);
}

.h2 {
  @include h2;
}

.h2__tab-info {
  @extend .h2;
  font-size: 0.7rem;
  color: var(--Light-Grayish-Cyan-Filter-Table);
}
.cleartext {
  font-size: 1rem;
  font-weight: 700;
  color: var(--Dark-Cyan);
}

.h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--Very-Dark-Grayish-Cyan);
  cursor: pointer;
}
.h1:hover {
  color: var(--Dark-Cyan);
}
@mixin wrap {
  padding: 3rem 1.5rem;
}
.wrap {
  @include wrap;
}
